* {
    margin: 0;
    padding: 0;
}

body {
    width: 1300px;
    height: 620px;
    background: #303030;
}

.gradient {
    width: 875px;
    height: 620px;
    margin: 5px auto;
    background: linear-gradient(to right, #733D9B, #C074B3);
}

.space {
    width: 100%;
    height: 100%;
    background-image: url(../img/bg_t.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    width: 100%;
    height: 75px;
}

.logo {
    float: left;
    margin-top: 26px;
    margin-left: 66px;
}

.navmenu {
    float: right;
    margin-top: 18px;
    margin-right: 66px;
    color: #FFF;
    font-family: "Roboto Condensed";
    font-size: 12.14px;
}

.navmenu a {
    text-decoration: none;
    color: #fff;
}

.navmenu a:hover {
    border-bottom: 1px solid #fff;
}

.navmenu_item {
    display: inline-block;
    padding-right: 50px;
}

.item4 {
    padding-right: 115px;
}

.item5 {
    padding-right: 0;
    font-size: 24px;
    line-height: 24px;
}

main {
    width: 100%;
    height: 430px;
}

.content {
    display: flex;
    width: 750px;
    height: 430px;
    margin-top: 32px;
    margin-left: 62px;
    background-color: #FFFFFF;
    box-shadow: 24px 0 0 -12px rgba(255, 255, 225, .5), 48px 0 0 -24px rgba(255, 255, 225, .5), -24px 0 0 -12px rgba(255, 255, 225, .5), -48px 0 0 -24px rgba(255, 255, 225, .5);
}

.content__image {
    width: 66%;
    height: 100%;
    background-color: #F4F4F4;
}

.content__image__photo {
    position: relative;
    width: 100%;
    height: 80%;
    background: url(../img/bg.png), url(../img/bg_title.png);
    background-repeat: no-repeat;
    background-position: 100% 35%, 60% 30%;
}

.cross {
    position: relative;
    top: 40px;
    left: 35px;
}

.btn_add {
    position: absolute;
    right: 25px;
    bottom: 0;
}

.cap {
    text-transform: uppercase;
}

.content__image__miniphoto ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    list-style-type: none;
}

.content__image__miniphoto ul li:first-child {
    margin-left: 150px;
}

.content__info {
    position: relative;
    width: 34%;
    height: 100%;
    background-color: #FFFFFF;
}

.btn_close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.new {
    width: 40px;
    margin-top: 43px;
    margin-left: 31px;
    text-align: center;
    color: #fff;
    background: #FFA700;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: normal;
}

h1 {
    margin-top: 5px;
    margin-left: 31px;
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: 600;
}

.violet {
    color: #634EFF;
}

.ModelAndRate {
    display: flex;
    margin-top: 10px;
    margin-left: 31px;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: bold;
}

.model {
    width: 25%;
}

.rate {
    width: 50%;
    margin-left: 5px;
}

.grey {
    color: #B6B6B6;
}

.price {
    margin-top: 10px;
    margin-left: 31px;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: lighter;
}

.info__size {
    margin-top: 20px;
    margin-left: 31px;
    font-family: "Roboto";
    font-weight: bold;
}

.size__name {
    margin-bottom: 10px;
    font-size: 12px;
}

.info__size input {
    display: none;
}

.info__size label {
    margin-right: 27px;
    font-size: 14.57px;
}

.info__size input:checked+label {
    padding: 4px;
    border: 1px solid #000;
}

.info__btns {
    margin-top: 35px;
    margin-left: 31px;
    text-align: center;
}

.info__cart,
.info__wish {
    width: 120px;
    height: 30px;
    margin-top: 5px;
}

.info__cart__btn, .info__wish__btn {
    box-sizing: border-box;
    width: 120px;
    height: 30px;
    background: none;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #000;
}

.info__cart__btn:hover, .info__wish__btn:hover {
    color: #fff;
    border: none;
    background-color: #BE00BD;
}
